@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter Tight", sans-serif;
}

@layer components {
  .section {
    @apply h-screen relative flex flex-col items-center text-center;
  }
  .gender-block {
    @apply w-[130px] h-[130px] xs:w-[200px] xs:h-[200px] sm:w-[250px] sm:h-[250px] md:w-[330px] md:h-[330px] lg:w-[400px] lg:h-[400px] bg-white rounded-[20px] xs:rounded-[50px] flex items-center justify-center transform duration-100 hover:scale-95;
  }
  .selection-block {
    @apply w-[130px] h-[130px] xs:w-[160px] xs:h-[160px] sm:w-[180px] sm:h-[180px] md:w-[220px] md:h-[220px] lg:w-[260px] lg:h-[260px] bg-white rounded-[20px] xs:rounded-[30px] md:rounded-[50px] transform duration-100 hover:scale-95;
  }
}
